<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5>Dispense {{childSelectedTap.name}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input class="form-control"  placeholder="Enter quantity" [(ngModel)]="beerDispensed" type="number" name="beerDispensed" required>
    <div *ngIf="checked === true && beerDispensed === 0"
    class="alert alert-danger">Please enter a quantity.
    </div>
    <button class="btn btn-primary" (click)="clickedCheck();">Dispense</button>
    <button class="btn btn-success" (click)="refillPints(); clickedCheck()">Refill</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<button *ngIf="childSelectedTap" class="btn btn-lg btn-outline-primary" (click)="open(content)">Edit</button>
<!--
<h5>Edit {{childSelectedTap.name}}</h5>
<div class="edit-tap-info">
  <label>Name</label>
  <input class="form-control" [(ngModel)]="childSelectedTap.name">
  <label>Brand</label>
  <input class="form-control" [(ngModel)]="childSelectedTap.brand">
  <label>Price per Pint</label>
  <input type="number" class="form-control" [(ngModel)]="childSelectedTap.pricePerPint">
  <label>Alcohol Content</label>
  <input type="number" class="form-control" [(ngModel)]="childSelectedTap.alcoholContent">
  <button class="btn btn-primary" (click)="childSelectedTap=null;">Update</button> -->
