<div *ngIf="childSelectedTap">
  <h5>Dispense {{childSelectedTap.name}}</h5>
    <input class="form-control"  placeholder="Enter quantity" [(ngModel)]="beerDispensed" type="number" name="beerDispensed" required>
    <div *ngIf="checked === true && beerDispensed === 0"
     class="alert alert-danger">
        Please enter a quantity.
    </div>
    <button class="btn btn-primary" (click)="clickedCheck();">Dispense</button>
    <button class="btn btn-success" (click)="refillPints(); clickedCheck()">Refill</button>
  <hr>
  <h5>Edit {{childSelectedTap.name}}</h5>
  <div class="edit-tap-info">
    <label>Name</label>
    <input class="form-control" [(ngModel)]="childSelectedTap.name">
    <label>Brand</label>
    <input class="form-control" [(ngModel)]="childSelectedTap.brand">
    <label>Price per Pint</label>
    <input type="number" class="form-control" [(ngModel)]="childSelectedTap.pricePerPint">
    <label>Alcohol Content</label>
    <input type="number" class="form-control" [(ngModel)]="childSelectedTap.alcoholContent">
    <button class="btn btn-primary" (click)="childSelectedTap=null;">Update</button>
  </div>
</div>
