<select (change)="onChange($event.target.value)">
  <option value="high">High (10%+)</option>
  <option value="medium">Medium (6-9%)</option>
  <option value="low">Low(&lt;5%)</option>
  <option value="all" selected="selected">All</option>
</select>

<div class= "card" *ngFor="let tap of childTapList | booziness:filterBooziness">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4">
        <img [src]="tap.imgString" alt="Card image cap">
      </div>
      <div class="col-sm-8">
        <h5 class="card-title">{{tap.name}} ......................... <span [style.color]="priceColor(tap)">${{tap.pricePerPint}}</span></h5>
        <p>{{tap.alcoholContent}}%</p>
        <p class="card-text">{{tap.brand}}</p>

        <div class="progress level-bar">
          <div class="progress-bar" role="progressbar"
          [style.width] = "tap.percent" [attr.aria-valuenow]="tap.level" aria-valuemin="0" aria-valuemax="124">
          {{tap.level}} pints left
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" (click)="editButtonClicked(tap)">Manage Tap</button>
  </div>
</div>
